.DS_Store
node_modules
/dist
/Build
/Source/Shaders/**/*.js

Source/Workers
Source/Cesium.js

package-lock.json

!/Source/Workers/cesiumWorkerBootstrapper.js
!/Source/Workers/transferTypedArrayTest.js

# Editor directories and files
.vscode
yarn.lock