/*
 * @Author: SnotlingLiu<snotlingliu@gmail.com/>
 * @Date: 2023-03-08 10:48:57
 * @LastEditors: SnotlingLiu<snotlingliu@gmail.com/>
 * @LastEditTime: 2023-03-08 10:56:07
 * @Description: 
 */
 
.spaceButton {
    display: inline-block;
    position: relative;
    background: #303336;
    border: 1px solid #444;
    color: #edffff; /* For text buttons */
    fill: #edffff; /* For SVG buttons */
    border-radius: 4px;
    padding: 5px 12px;
    margin: 2px 3px;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .spaceButton:focus {
    color: #fff; /* For text buttons */
    fill: #fff; /* For SVG buttons */
    border-color: #ea4;
    outline: none;
  }
  
  .spaceButton:hover {
    color: #fff; /* For text buttons */
    fill: #fff; /* For SVG buttons */
    background: #48b;
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
  }
  
  .spaceButton:active {
    color: #000; /* For text buttons */
    fill: #000; /* For SVG buttons */
    background: #adf;
    border-color: #fff;
    box-shadow: 0 0 8px #fff;
  }
  
  .spaceButton:disabled,
  .spaceButton-disabled,
  .spaceButton-disabled:focus,
  .spaceButton-disabled:hover,
  .spaceButton-disabled:active {
    background: #303336;
    border-color: #444;
    color: #646464; /* For text buttons */
    fill: #646464; /* For SVG buttons */
    box-shadow: none;
    cursor: default;
  }
  
  .spaceButton option {
    background-color: #000;
    color: #eee;
  }
  
  .spaceButton option:disabled {
    color: #777;
  }
  
  .spaceButton input,
  .spaceButton label {
    cursor: pointer;
  }
  
  .spaceButton input {
    vertical-align: sub;
  }